@font-face {
    font-family: "MetropolisRegular";
    src:
            url("./fonts/Metropolis-Regular.woff2") format("woff2"),
            url("./fonts/Metropolis-Regular.woff") format("woff");
}

@font-face {
    font-family: "MetropolisBold";
    src:
            url("./fonts/Metropolis-Bold.woff2") format("woff2"),
            url("./fonts/Metropolis-Bold.woff") format("woff");
}

@font-face {
    font-family: "MetropolisThin";
    src:
            url("./fonts/Metropolis-Thin.woff2") format("woff2"),
            url("./fonts/Metropolis-Thin.woff") format("woff");
}
